* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}
h1 {
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 170px;
  font-size: 150px;
  color: #fff;
}

header {
  max-height: 650px;
  background-image: url(../assets/img/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  margin-top: 100px;
  display: flex;
  gap: 0px 100px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.showcase-box {
  display: flex;
  gap: 72px;
  padding: 0px 144px;
}
.showcase-item {
  height: 450px;
}
