* {
  padding: 0;
  margin: 0;
}

header {
  min-height: 650px;
  background-image: url(../assets/img/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: none;
}

nav {
  margin-top: 100px;
  display: flex;
  gap: 0px 100px;
}

nav a {
  text-decoration: none;
  color: #fff;
}
