* {
  padding: 0;
  margin: 0;
}

.logo-white {
  width: 150px;
  height: auto;
  filter: invert(100%);
}

ul {
  list-style-type: none;
}

a {
  font-family: "Bebas Neue", sans-serif;
  font-size: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Rowdies", cursive;
}

p {
  font-family: "agenda", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
}

h1 {
  text-transform: uppercase;
  margin-top: 70px;
  margin-bottom: 170px;
  font-size: 120px;
  color: #fff;
}

h2 {
  font-size: 65px;
  padding-bottom: 5px;
  text-transform: uppercase;
}

header {
  height: 650px;
  background-image: url(../assets/img/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

nav {
  margin-top: 100px;
  display: flex;
  gap: 0px 100px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

.selected {
  color: rgba(203, 203, 203, 0.737);
}

.showcase {
  display: flex;
  justify-content: center;
  margin: 0px 200px;
}

.showcase-box {
  display: flex;
  gap: 72px;
}

.showcase-item {
  height: 450px;
}

.collage {
  margin-top: 200px;
  display: flex;
  justify-content: center;
}

.collage-container {
  width: 80%;
  max-width: 920px;
  display: flex;
  justify-content: space-between;
}

.collage-column {
  display: flex;
  flex-direction: column;
  min-height: fit-content;
  justify-content: space-between;
}

.image {
  width: 300px;
}

.image img {
  width: inherit;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 144px;
  margin-top: 200px;
  background-color: black;
  color: #fff;
}

.legal {
  display: flex;
  gap: 50px;
}

.copyrights {
  display: flex;
  gap: 10px;
}
.copyrights i {
  font-style: normal;
  font-size: larger;
}
